<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/𝙷 𝟷 𝟸  𝙵 𝙰 𝙱 𝙻 𝙰 𝙱 → 𝙻 𝙾 𝙱 𝙱 𝚈  .css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>𝙷 𝟷 𝟸  𝙵 𝙰 𝙱 𝙻 𝙰 𝙱 → 𝙻 𝙾 𝙱 𝙱 𝚈  </title>
</head>
<body>
    <header>
      
        <h1><pre>  𝙷 𝟷 𝟸  𝙵 𝙰 𝙱 𝙻 𝙰 𝙱 → 𝙻 𝙾 𝙱 𝙱 𝚈  </pre></h1>
        <p></p>
        
<br>
<p></p>
    </header>
    <div class="container">
        <h2> 𝑽𝒐𝒊𝒍𝒂! 𝑩𝒆𝒉𝒐𝒍𝒅 𝒕𝒉𝒆 𝒍𝒊𝒏𝒌 𝒃𝒆𝒍𝒐𝒘</h2>
        <p></p>
        <br>
 
<p></p>
<a href="come\LOB to FABLAB (1).mp4">𝙷 𝟷 𝟸  𝙵 𝙰 𝙱 𝙻 𝙰 𝙱 → 𝙻 𝙾 𝙱 𝙱 𝚈</a>

       

    

    
</body>
</html>
<head>
    <title>Scroll to Top Example</title>

  </head>
  <body>
    <!-- Your page content goes here -->
    <div style="height: 2000px; background-color: #222;">
        <!-- Dummy content to create scrolling -->
    </div>
  
    <!-- Scroll to top button -->
    <div id="scroll-to-top" onclick="redirectToIndex()" style="position: fixed; top: 20px; left: 20px;">←</div>
  

</body>


